#viewport {
    background-color: blue;
}
#searchform {
    background-color: green;
}
#main {
    background-color: red;
}
#body {
    background-color: white;
}
#footer {
    background-color: yellow;
}